.fr-0 {
	background-color: lightgray
}

.fr-1 {
	background-color: whitesmoke
}

#viewer_container {
	position: fixed;
	top: 80%;
	left: 70%;
	resize: both;
	overflow: hidden;
	background: transparent
}

#viewer {
	width: 96%;
	height: 100%
}

#viewer_close,
#viewer_move,
#viewer_resize {
	position: absolute;
	right: 0;
	cursor: pointer;
	top: 0;
	width: 1em;
	height: 1em
}

#viewer_move {
	top: 50%;
	cursor: move
}

#viewer_resize {
	top: auto;
	bottom: 0;
	cursor: nwse-resize;
}

.tmp {
	text-align: center;
}

.unused {
	color: inherit;
	text-decoration: inherit;
	border: 1px solid black;
	margin: -1px;
	width: 100%;
	display: inline-block;
}
